<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e444598589e6f81654aada97a7bab3fa {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e444598589e6f81654aada97a7bab3fa" ></div>
        
</body>
<script>    
    
            var map_e444598589e6f81654aada97a7bab3fa = L.map(
                "map_e444598589e6f81654aada97a7bab3fa",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f65573688caa1ba1125d4d84cf5bfb95 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            var circle_marker_6799c0c0d25edc18980dd23a6140f319 = L.circleMarker(
                [52.164638527777775, 4.489576166666667],
                {"bubblingMouseEvents": true, "color": "#0C0786", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#0C0786", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_6799c0c0d25edc18980dd23a6140f319.bindTooltip(
                `<div>
                     2018-08-24T17:32
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_affa9d29b5ffe486271c79fd71ff4e2c = L.circleMarker(
                [52.164722222222224, 4.489444444444445],
                {"bubblingMouseEvents": true, "color": "#21058F", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#21058F", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_affa9d29b5ffe486271c79fd71ff4e2c.bindTooltip(
                `<div>
                     2018-08-24T17:36
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_81b6359464aa390556aa4ba14984ceb5 = L.circleMarker(
                [52.16409863888889, 4.484417583333333],
                {"bubblingMouseEvents": true, "color": "#310496", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#310496", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_81b6359464aa390556aa4ba14984ceb5.bindTooltip(
                `<div>
                     2018-08-24T17:39
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0ddeb08209ed559ca21a517bdfb3e2c9 = L.circleMarker(
                [52.16277777777778, 4.487777777777778],
                {"bubblingMouseEvents": true, "color": "#3F039C", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3F039C", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_0ddeb08209ed559ca21a517bdfb3e2c9.bindTooltip(
                `<div>
                     2018-08-24T17:52
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_18fa883d3165a8b1b73f0e258596340b = L.circleMarker(
                [52.1625, 4.490277777777778],
                {"bubblingMouseEvents": true, "color": "#4C02A1", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#4C02A1", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_18fa883d3165a8b1b73f0e258596340b.bindTooltip(
                `<div>
                     2018-08-24T17:54
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_1949fb9c21af571c67530cba67b877b7 = L.circleMarker(
                [52.16277777777778, 4.489722222222222],
                {"bubblingMouseEvents": true, "color": "#5901A4", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#5901A4", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_1949fb9c21af571c67530cba67b877b7.bindTooltip(
                `<div>
                     2018-08-24T17:55
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ae6ebaa79e303ceca63fc75dc63eb983 = L.circleMarker(
                [52.16222222222222, 4.493055555555555],
                {"bubblingMouseEvents": true, "color": "#6500A7", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#6500A7", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_ae6ebaa79e303ceca63fc75dc63eb983.bindTooltip(
                `<div>
                     2018-08-24T17:57
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_908c7c12087d7fbddd285f2fb646960e = L.circleMarker(
                [52.161944444444444, 4.4975000000000005],
                {"bubblingMouseEvents": true, "color": "#7200A8", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7200A8", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_908c7c12087d7fbddd285f2fb646960e.bindTooltip(
                `<div>
                     2018-08-24T18:00
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_07dd647b203da74114098abf3f36cc2c = L.circleMarker(
                [52.16277777777778, 4.5],
                {"bubblingMouseEvents": true, "color": "#7E03A7", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#7E03A7", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_07dd647b203da74114098abf3f36cc2c.bindTooltip(
                `<div>
                     2018-08-24T18:03
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_1adbb71ac7bad795e4d19d3e63f28a82 = L.circleMarker(
                [52.161944444444444, 4.5],
                {"bubblingMouseEvents": true, "color": "#8908A5", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#8908A5", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_1adbb71ac7bad795e4d19d3e63f28a82.bindTooltip(
                `<div>
                     2018-08-24T18:05
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_f0443d1308f436ab67e93949eb3f457c = L.circleMarker(
                [52.16083333333333, 4.5008333333333335],
                {"bubblingMouseEvents": true, "color": "#9511A1", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#9511A1", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_f0443d1308f436ab67e93949eb3f457c.bindTooltip(
                `<div>
                     2018-08-24T18:06
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_e71c8499deb10fd58fbe1e68c8ff2d4b = L.circleMarker(
                [52.16083333333333, 4.500555555555556],
                {"bubblingMouseEvents": true, "color": "#9F1A9B", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#9F1A9B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_e71c8499deb10fd58fbe1e68c8ff2d4b.bindTooltip(
                `<div>
                     2018-08-24T18:07
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_25e99482a6a3fb06d6580a817cac2342 = L.circleMarker(
                [52.16083333333333, 4.5],
                {"bubblingMouseEvents": true, "color": "#A92395", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#A92395", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_25e99482a6a3fb06d6580a817cac2342.bindTooltip(
                `<div>
                     2018-08-24T18:09
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_adff73266a1054752f807577201d67db = L.circleMarker(
                [52.15960338888889, 4.493058277777778],
                {"bubblingMouseEvents": true, "color": "#B22C8E", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#B22C8E", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_adff73266a1054752f807577201d67db.bindTooltip(
                `<div>
                     2018-08-24T18:10
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_5164eb6ab5191a28996710b32e6f9e4c = L.circleMarker(
                [52.15972222222222, 4.494166666666667],
                {"bubblingMouseEvents": true, "color": "#BB3586", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#BB3586", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_5164eb6ab5191a28996710b32e6f9e4c.bindTooltip(
                `<div>
                     2018-08-24T18:13
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_8a861879397e0f3d2c1c539970a2ad69 = L.circleMarker(
                [52.157972694444446, 4.491737333333333],
                {"bubblingMouseEvents": true, "color": "#C33E7F", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#C33E7F", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_8a861879397e0f3d2c1c539970a2ad69.bindTooltip(
                `<div>
                     2018-08-24T18:15
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d7f547311d124082b9200f619a043480 = L.circleMarker(
                [52.15972222222222, 4.491944444444444],
                {"bubblingMouseEvents": true, "color": "#CB4777", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#CB4777", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_d7f547311d124082b9200f619a043480.bindTooltip(
                `<div>
                     2018-08-24T18:16
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_2e749505ff40f599f5c6d60bf3f12330 = L.circleMarker(
                [52.159166666666664, 4.4911111111111115],
                {"bubblingMouseEvents": true, "color": "#D25070", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#D25070", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_2e749505ff40f599f5c6d60bf3f12330.bindTooltip(
                `<div>
                     2018-08-24T18:17
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a58abe96210a49c8ca8ab0c4f28fa3f2 = L.circleMarker(
                [52.1575, 4.493055555555555],
                {"bubblingMouseEvents": true, "color": "#D95969", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#D95969", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_a58abe96210a49c8ca8ab0c4f28fa3f2.bindTooltip(
                `<div>
                     2018-08-24T18:22
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_d561b505294e413bd7003487f228029d = L.circleMarker(
                [52.15888888888889, 4.495555555555556],
                {"bubblingMouseEvents": true, "color": "#DF6262", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#DF6262", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_d561b505294e413bd7003487f228029d.bindTooltip(
                `<div>
                     2018-08-24T18:24
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_4fed2ce3c1762e379e0bae48f39fab10 = L.circleMarker(
                [52.156666666666666, 4.493333333333333],
                {"bubblingMouseEvents": true, "color": "#E56C5B", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#E56C5B", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_4fed2ce3c1762e379e0bae48f39fab10.bindTooltip(
                `<div>
                     2018-08-24T18:24
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_a7339fa917feb0ed32a486c57c10a609 = L.circleMarker(
                [52.1558135, 4.487450222222222],
                {"bubblingMouseEvents": true, "color": "#EB7654", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#EB7654", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_a7339fa917feb0ed32a486c57c10a609.bindTooltip(
                `<div>
                     2018-08-24T18:26
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_6bc340459394a2309a31a1ce652799a8 = L.circleMarker(
                [52.15488833333333, 4.4873808055555555],
                {"bubblingMouseEvents": true, "color": "#F0804D", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F0804D", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_6bc340459394a2309a31a1ce652799a8.bindTooltip(
                `<div>
                     2018-08-24T18:26
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_01d59be83f5fbf6c074ea80a33cff262 = L.circleMarker(
                [52.155833333333334, 4.4925],
                {"bubblingMouseEvents": true, "color": "#F48A47", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F48A47", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_01d59be83f5fbf6c074ea80a33cff262.bindTooltip(
                `<div>
                     2018-08-24T18:26
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_ca6ec6fe6d0e5e9c2271b56330a49d7e = L.circleMarker(
                [52.15478158333333, 4.4877897777777775],
                {"bubblingMouseEvents": true, "color": "#F89540", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F89540", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_ca6ec6fe6d0e5e9c2271b56330a49d7e.bindTooltip(
                `<div>
                     2018-08-24T18:27
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_e0b52bcbf78485e51d83db6469218d27 = L.circleMarker(
                [52.15611111111111, 4.488888888888889],
                {"bubblingMouseEvents": true, "color": "#FAA039", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FAA039", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_e0b52bcbf78485e51d83db6469218d27.bindTooltip(
                `<div>
                     2018-08-24T18:28
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_27b8d760ca1ce96e925153de9649f8e7 = L.circleMarker(
                [52.159336305555556, 4.484666],
                {"bubblingMouseEvents": true, "color": "#FCAC32", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FCAC32", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_27b8d760ca1ce96e925153de9649f8e7.bindTooltip(
                `<div>
                     2018-08-24T18:30
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_839827402a1a64d5b004468760f259c9 = L.circleMarker(
                [52.15694444444444, 4.485833333333334],
                {"bubblingMouseEvents": true, "color": "#FDB82C", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FDB82C", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_839827402a1a64d5b004468760f259c9.bindTooltip(
                `<div>
                     2018-08-24T18:31
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_144a6789bb5f63e9bb2117ac935d99b9 = L.circleMarker(
                [52.158055555555556, 4.485833333333334],
                {"bubblingMouseEvents": true, "color": "#FDC427", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FDC427", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_144a6789bb5f63e9bb2117ac935d99b9.bindTooltip(
                `<div>
                     2018-08-24T18:32
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_50758635745ca8dc933a5aaa1321ff54 = L.circleMarker(
                [52.15933838888889, 4.48467575],
                {"bubblingMouseEvents": true, "color": "#FBD124", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#FBD124", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_50758635745ca8dc933a5aaa1321ff54.bindTooltip(
                `<div>
                     2018-08-24T18:33
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_0cdb0a7d00062f01bcc1139ebbf57dc1 = L.circleMarker(
                [52.159166666666664, 4.483611111111111],
                {"bubblingMouseEvents": true, "color": "#F8DF24", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F8DF24", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_0cdb0a7d00062f01bcc1139ebbf57dc1.bindTooltip(
                `<div>
                     2018-08-24T18:35
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_440a1dc7f8f65dd7cfe962c71e788c70 = L.circleMarker(
                [52.16126908333333, 4.482043222222222],
                {"bubblingMouseEvents": true, "color": "#F3EC26", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#F3EC26", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_440a1dc7f8f65dd7cfe962c71e788c70.bindTooltip(
                `<div>
                     2018-08-24T18:37
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_803d54cf691e328685e6a3fe449689f3 = L.circleMarker(
                [52.166022805555556, 4.483026777777778],
                {"bubblingMouseEvents": true, "color": "#EFF821", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#EFF821", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6, "stroke": true, "weight": 3}
            ).addTo(map_e444598589e6f81654aada97a7bab3fa);
        
    
            circle_marker_803d54cf691e328685e6a3fe449689f3.bindTooltip(
                `<div>
                     2018-08-24T18:42
                 </div>`,
                {"sticky": true}
            );
        
    
            map_e444598589e6f81654aada97a7bab3fa.fitBounds(
                [[52.16902280555556, 4.479043222222222], [52.15178158333333, 4.503833333333334]],
                {}
            );
        
</script>